                                         
                                       **Theoretical Questions**

1. What are data structures, and why are they important?
  - Data structures are specialized formats for organizing, storing, and
    managing data efficiently. They are crucial for enabling optimized algorithm development and efficient data handling.

2. Explain the difference between mutable and immutable data types with examples.
 -  Mutable data types can be modified after creation (e.g., lists).
 -  Immutable data types cannot be modified (e.g., tuples).
    Example: list=[1, 2] (mutable), tuple=(1, 2) (immutable).

3. What are the main differences between lists and tuples in Python?
  - List:
     (a) Lists are mutable, dynamic in size, and slower.
     (b) Suitable for collections that require frequent updates.
  - Tuples:
     (a) Tuples are immutable, fixed in size, and faster for operations.
     (b) Ideal for fixed data that shouldn't change.

4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs using hash tables for fast
    lookups and access.

5. Why might you use a set instead of a list in Python?
 - Sets discard duplicate elements automatically and provide faster operations
   for membership testing and set operations.

6. What is a string in Python, and how is it different from a list?
 - Strings are immutable sequences of characters. Lists are mutable collections
   that can hold diverse data type.

7. How do tuples ensure data integrity in Python?
 - Tuples are immutable, meaning their elements cannot be changed after
   creation, ensuring data consistency.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - Hash tables are data structures that map keys to values using hash
   functions. Dictionaries in Python are implemented using hash tables.

9. Can lists contain different data types in Python?
  - Yes, lists can contain elements of different data types, including numbers, strings, and objects.

10. Explain why strings are immutable in Python.
  - Strings are immutable to ensure efficiency and security, especially when
    used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?
 -  Dictionaries provide fast lookups and access using keys, making them more
    suitable for tasks requiring key-value mapping.

12. Describe a scenario where using a tuple would be preferable over a list?
  - Tuples are ideal when the data should not change, such as coordinates or
    configuration settings.

13. How do sets handle duplicate values in Python?
  - Sets automatically remove duplicate values, ensuring all elements are
    unique.

14. How does the “in” keyword work differently for lists and dictionaries?
 -  For lists, 'in' checks for element existence. For dictionaries, it checks  
    if a key exists.

15. Can you modify the elements of a tuple? Explain why or why not?
  - No,tuple elements cannot be modified because tuples are immutable by design.

16. What is a nested dictionary, and give an example of its use case?
  -  A nested dictionary is a dictionary within another dictionary. Example:
     {'user': {'name':'Alice', 'age': 25}}.

17. Describe the time complexity of accessing elements in a dictionary?
  -  Accessing elements in a dictionary has an average time complexity of O(1)
     due to hash table implementation.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred when order matters or when storing a simple sequence of elements without key-value mapping.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are unordered because they rely on hash tables. Retrieval is
  based on keys,not order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - Lists use positional indices for data retrieval, while dictionaries use keys
   for fast lookups.

                                          **Practical Questions**

1. Write a code to create a string with your name and print it.

In [2]:
name = "Aishwarya"
print(name)

Aishwarya

2. Write a code to find the length of the string "Hello World".

In [3]:
string = "Hello World"
print(len(string))

11

3. . Write a code to slice the first 3 characters from the string 'Python Programming'.

In [4]:
string = "Python Programming"
print(string[:3])

Pyt

4. Write a code to convert the string 'hello' to uppercase.

In [5]:
string = "hello"
print(string.upper())

HELLO

5. Write a code to replace the word 'apple' with 'orange' in the string 'I like apple'.

In [6]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

6. . Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [9]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [11]:
letters = ["a", "b", "c", "d"]
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [13]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [14]:
tuple1 = (10, 20, 30)
print(tuple1)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [15]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [16]:
nums = (1, 2, 3, 2, 4, 2)
print(nums.count(2))

3

14. Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit').

In [17]:
animals = ("dog", "cat", "rabbit")
print(animals.index("cat"))

1

15. Write a code to check if the element 'banana' is in the tuple ('apple', 'orange', 'banana').

In [18]:
fruits = ("apple", "orange", "banana")
print("banana" in fruits)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [19]:
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [20]:
set1 = {1, 2, 3, 4}
set1.add(6)
print(set1)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [21]:
tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [22]:
tup = ("apple", "banana", "cherry")
print(tup[0])

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [23]:
tup = (1, 2, 3, 2, 4, 2)
print(tup.count(2))

3

21. Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit').

In [24]:
tup = ("dog", "cat", "rabbit")
print(tup.index("cat"))

1

22. Write a code to check if the element 'banana' is in the tuple ('apple', 'orange', 'banana').

In [26]:
tup = ("apple", "orange", "banana")
print("banana" in tup)

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [27]:
s = {1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [28]:
set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}